data_workflow/send_zns.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-zns",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1880,
        -100
      ],
      "id": "a12019fe-f9ed-4a0a-91b8-5759673c2c5c",
      "name": "Webhook",
      "webhookId": "53fa75b5-0385-47b1-9a51-5599c7e2076b"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1600,
        140
      ],
      "id": "62fac0b9-586c-4122-8f7d-08a5d6c98a38",
      "name": "Wait",
      "webhookId": "8c469f3e-37ff-436f-b4fa-4f90d6f6a649"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://business.openapi.zalo.me/message/template",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $json.ACT }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"template_id\": \"{{ $json.templateId }}\",\n  \"template_data\": {{ JSON.stringify($json.template_data) }},\n  \"tracking_id\": \"{{ $json.phone }}-{{ $json.time }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        140
      ],
      "id": "464126f2-23ca-4590-b260-19a34467c797",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://zns-api.coregy.com.vn/api/V1/campaigns/{{ $('Wait').item.json.campaignId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request2').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1320,
        140
      ],
      "id": "80250067-88bb-43cc-9f3a-2b7ebf713cef",
      "name": "HTTP Request1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json.body;\nconst templateId = input.templateId;\nconst timeSendList = input.timeSend;\n\nconst formatter = new Intl.DateTimeFormat(\"vi-VN\", {\n  timeZone: \"Asia/Ho_Chi_Minh\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  day: \"2-digit\",\n  month: \"2-digit\",\n  year: \"numeric\",\n  hour12: false,\n});\n\n\nconst results = timeSendList.map((timeStr) => {\n  const sendTime = new Date(timeStr); // vẫn là UTC\n\n  return {\n    json: {\n      templateId,\n      sendAt: sendTime.getTime(), // timestamp UTC\n      readableTime: formatter.format(sendTime), // giờ VN thật,\n      listPhone: $input.first().json.body.listPhone,\n      username: $input.first().json.body.username,\n      password: $input.first().json.body.password,\n      campaignId: $input.first().json.body.campaignId\n    },\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1880,
        140
      ],
      "id": "8bfa686e-1681-4707-9022-e604cf978fe6",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zns-api.coregy.com.vn/api/V1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1320,
        -100
      ],
      "id": "461e32e1-d461-4f01-ba01-d3e58ac0e01f",
      "name": "HTTP Request2",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://zns-api.coregy.com.vn/api/V1/admin/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request2').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        -100
      ],
      "id": "75a34acf-7e97-4a0e-b0be-364f724f0f66",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d7f7a42-4a74-4e47-9965-2389fbecaedd",
              "leftValue": "={{ $('HTTP Request1').item.json.isActive }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        140
      ],
      "id": "1a38f8d6-79ed-46b1-9b3c-2200bc4eb957",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const listPhone = $('Wait').first().json.listPhone;\n\nreturn listPhone.map((entry) => ({\n  json: {\n    templateId: $('HTTP Request1').first().json.templateId,\n    time: $('Code3').first().json.readableTime,\n    phone: entry.phone,\n    template_data: entry.metadata || {},\n    ACT: $input.first().json.ACT\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -100
      ],
      "id": "1d3fc1d5-4f5f-4f99-988c-66c8e087614b",
      "name": "Code1"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "62687395-d271-4049-b7bf-abd63d83e5bb",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -800,
        140
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {},
      "id": "a7a83b48-9e2b-409d-b4e8-8dd526de3237",
      "name": "Loop Back1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const nowUTC = Date.now(); // dùng UTC chuẩn, không cộng thêm\n\nreturn items.map(item => {\n  const sendAt = Number(item.json.sendAt); // cũng là UTC timestamp\n  const delayMs = sendAt - nowUTC;\n  const delaySec = Math.max(Math.floor(delayMs / 1000), 0); // không bị âm\n\n  return {\n    json: {\n      ...item.json,\n      delay: delaySec,\n      username: $('Webhook').first().json.body.username,\n      password: $('Webhook').first().json.body.password,\n      campaignId: $('Webhook').first().json.body.campaignId\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -100
      ],
      "id": "5c819719-489f-4780-93c6-97ad23747290",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "718c69bf-0fe5-4ad7-a981-f3a03682b59d",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -540,
        -100
      ],
      "id": "7152e3b9-0e7d-4d67-80c0-54a5a13e6f00",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zns-api.coregy.com.vn/api/V1/campaigns/{{ $('HTTP Request1').item.json.schedules[0].campaignId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $('HTTP Request2').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=phone",
              "value": "={{ $('If1').item.json.phone }}"
            },
            {
              "name": "=scheduleId",
              "value": "={{ $('HTTP Request1').item.json.schedules[0].id }}"
            },
            {
              "name": "=status",
              "value": "={{$json.error === 0 ? 'SUCCESS' : 'FAILED'}}"
            },
            {
              "name": "=errorMessage",
              "value": "={{$json.error !== 0 ? $json.message : 'None'}}"
            },
            {
              "name": "response",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        140
      ],
      "id": "469dc98b-9a7d-43d7-bc0b-d3b4112d88ab",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://zns-api.coregy.com.vn/api/V1/campaigns/{{ $('Wait').item.json.campaignId }}/update-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request2').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "SENT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        -220
      ],
      "id": "427f40f4-b299-43d9-b3f9-7d178488eac3",
      "name": "HTTP Request5"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Loop Back1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b3b06258fd848d11bca54b55749ae060cf2880ed4318d6969a3442d4729a477c"
  }
}